<div class="row" >
    <div class="twelve columns center" style="margin-top: 25%" >
        <h1>Something went wrong!!</h1>
    </div>
    <div class="center">
        <a href="/" class="button" style="margin-top: 5%">Go back to Homepage</a>
    </div>
</div>