<div class="row">
    <div class="twelve columns" style="margin-top: 25%">
        <div class="center">
            <img src="/images/check.svg" alt="Signed!">
        </div>
        <div class="center">
            <h2>Thank you!</h2>
        </div>
        <div class="center">
                <h2></h2>
            <h3><%= name %> (<%= nickname %>)</h3>
        </div>
        <% if (referer.url) { %>
            <div class="center">
                <a class="button" href=<%= referer.url %>>Go Back</a>
            </div>
        <% } %>
    </div>
</div>